/**
 * Github-like theme for Prism.js
 * @author Luke Askew http://github.com/lukeaskew
 */
code,code[class*=&#39;language-&#39;],pre[class*=&#39;language-&#39;]{color:#333;text-align:left;white-space:pre;word-spacing:normal;tab-size:4;hyphens:none;font-family:Fira Mono;line-height:1.3;direction:ltr;cursor:text}

pre[class*=&#39;language-&#39;]{overflow:auto;margin:.5em 0;padding:2em;border-radius:10px;font-size:90%;border:1px solid rgba(17,17,17,.15)}

p code,li code,table code{margin:0;border-radius:3px;padding:.2em 0;font-size:85%}
p code:before,p code:after,li code:before,li code:after,table code:before,table code:after{letter-spacing:-.2em;content:&#39;\00a0&#39;}

code,:not(pre) &gt; code[class*=&#39;language-&#39;],pre[class*=&#39;language-&#39;]{background:#f7f7f7}

:not(pre) &gt; code[class*=&#39;language-&#39;]{padding:2px 3px;border-radius:5px;box-shadow:inset -1px -1px 0 #fff,1px 1px 1px rgba(17,17,17,.05);border:1px solid rgba(17,17,17,.05);background:#EEE}

.token.comment,.token.prolog,.token.doctype,.token.cdata{color:#969896}
.token.punctuation,.token.string,.token.atrule,.token.attr-value{color:#183691}
.token.property,.token.tag{color:#63a35c}
.token.boolean,.token.number{color:#0086b3}
.token.selector,.token.attr-name,.token.attr-value .punctuation:first-child,.token.keyword,.token.regex,.token.important{color:#795da3}
.token.operator,.token.entity,.token.url,.language-css .token.string{color:#a71d5d}
.token.entity{cursor:help}
.namespace{opacity:.7}